@{
    ViewData["Title"] = "Acerca de";
}

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Autor: Federico Elías</p>
<p>Para: Fernando Martínez de Enlace Molecular</p>
<p>Tecnologías usadas:
    <ul>
        <li>Javascript</li>
        <li>C#</li>
    </ul>
    Framework: ASP.NET MVC
</p>
<p>link al repo:
    <a href="https://github.com/nazar9318/testEnlaceMolecular">https://github.com/nazar9318/testEnlaceMolecular</a>
</p>